In [1]:
import pandas as pd
import joblib
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.calibration import CalibratedClassifierCV
from sklearn.svm import LinearSVC
from gensim.test.utils import common_texts
from gensim.models import Word2Vec
import logging
import gensim
import pprint
from collections import defaultdict
from gensim import corpora
from gensim.utils import simple_preprocess
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

In [2]:
df = pd.read_csv('datasets/bw.csv')
df.head()

                                0
0                           Ã©ath
1                   DGWCUSTOM.COM
2   http://www.weight-fetish.com/
3                         Popp3rs
4                           Ra*pe

In [3]:
import pymorphy2

In [4]:
morph = pymorphy2.MorphAnalyzer(lang='uk')

2023-02-21 09:22:02,476 : INFO : Loading dictionaries from /usr/local/lib/python3.10/site-packages/pymorphy2_dicts_uk/data
2023-02-21 09:22:02,549 : INFO : format: 2.4, revision: 1, updated: 2016-04-10T11:08:15.982658

In [5]:
df2 = pd.read_json('datasets/test_data.json')

In [6]:
df2.hasBadWords = df2.hasBadWords.apply(lambda x: 1 if x == True else 0)

In [7]:
df2.head()

,text,textType,hasBadWords,badWords
0,My Favorite rape kids,clipTitle,1,"[rape, kids]"
1,My Favorite Slut,clipTitle,0,[]
2,girlfriends sit on each other's faces with the...,clipTitle,0,[]
3,bound beauty kisses her girlfriend,clipTitle,0,[]
4,MORGAN - Anytime - Nail Painting On The Slave'...,clipTitle,0,[]

In [8]:
with open('datasets/bad_words.txt') as f:
    doc_list = f.readlines()

In [9]:
word_list = [line.strip().split() for line in df2.text]

In [10]:
df3 = pd.DataFrame(df2[['badWords', 'hasBadWords']])
df3

               badWords  hasBadWords
0          [rape, kids]            1
1                    []            0
2                    []            0
3                    []            0
4                    []            0
...                 ...          ...
1096        [All4Honey]            1
1097    [Dont_do_drugs]            1
1098  [incestualfemdom]            1
1099    [bloodybarbies]            1
1100        [yezzclips]            1

[1101 rows x 2 columns]

In [11]:
df3.badWords.drop_duplicates(inplace=True)

In [12]:
df3.badWords.dropna(inplace=True)

In [13]:
df3.drop(df3.loc[df3['hasBadWords']==0].index, inplace=True)

In [14]:
lst_new = df3.values.tolist()

In [15]:
lst = []
for k in lst_new:
    if k not in lst:
        lst += (k[0])

In [16]:
df_lst = pd.DataFrame(lst)

In [17]:
df_lst.drop_duplicates(inplace=True)

In [18]:
df_lst = df_lst.reset_index(drop=True)

In [19]:
bag = pd.Series([y for x in df.values.flatten() for y in x.split()]).value_counts()

In [20]:
bag

under                 156
old                   102
sex                    41
porn                   40
girl                   37
                     ...
G4nja                   1
G0re                    1
G0r3                    1
g.o.p.                  1
__crush-fetish_com      1
Length: 5194, dtype: int64