In [3]:
import pandas as pd

In [4]:
df_pos_part1 = pd.read_csv('../datasets/bw/BadWordsService_ml_has.csv')

In [5]:
df_pos_part1.shape

(4945, 3)

In [7]:
print(df_pos_part1.shape)

(4945, 3)

In [8]:
df_pos_part1.head()

,@timestamp,ctxt_.time_spent,ctxt_.text
0,"May 31, 2023 @ 05:10:50.398",0.6,"<p>We're in detention together, me the slutty ..."
1,"May 31, 2023 @ 05:10:49.027",0.9,<p><p>It is a twilit night and I'm pursuing my...
2,"May 31, 2023 @ 05:10:48.979",0.8,"<p>I found lol*ta porn on your laptop, Step-Da..."
3,"May 31, 2023 @ 05:10:48.850",0.9,<p>I love getting presents from my loyal follo...
4,"May 31, 2023 @ 05:10:48.757",0.9,"<p>We're in detention together, me the slutty ..."

In [9]:
df_pos_part1.drop('@timestamp', axis=1, inplace=True)
df_pos_part1['ctxt_.time_spent'] = df_pos_part1['ctxt_.time_spent'] * 1000 # convert seconds to milliseconds

In [10]:
df_pos_part1.rename(columns={"ctxt_.text": "raw_text", "ctxt_.time_spent": "time_spent_ms"}, inplace=True)

In [11]:
df_pos_part1['labels'] = 1

In [14]:
# nan_values_pos_part1 = df_pos_part1[df_pos_part1.isna().any(axis=1)]
# print(len(nan_values_pos_part1))

In [15]:
# df_pos_part1.dropna(inplace=True)
df_pos_part1.head()

   time_spent_ms                                           raw_text  labels
0          600.0  <p>We're in detention together, me the slutty ...       1
1          900.0  <p><p>It is a twilit night and I'm pursuing my...       1
2          800.0  <p>I found lol*ta porn on your laptop, Step-Da...       1
3          900.0  <p>I love getting presents from my loyal follo...       1
4          900.0  <p>We're in detention together, me the slutty ...       1

In [16]:
from sklearn.utils import shuffle
RANDOM_STATE = 42

df = df_pos_part1
df = shuffle(df, random_state=RANDOM_STATE).reset_index(drop=True)

df.shape

(4945, 3)

In [17]:
df.head()

   time_spent_ms                                           raw_text  labels
0          500.0  <p>It is a twilit night and I'm pursuing my pr...       1
1          700.0  Agent Titiana has a target...I pose as a waitr...       1
2          100.0  <p>Tied to the chair with the hood off his hea...       1
3          900.0  <p>I'm your wife and I'm all dressed up, on th...       1
4          900.0  <p>We're in detention together, me the slutty ...       1

In [18]:
df.to_csv('../datasets/last_train_data_updated.csv', index=False)

In [19]:
df_new = pd.read_csv('../datasets/last_train_data_updated.csv')
df_new.head()

   time_spent_ms                                           raw_text  labels
0          500.0  <p>It is a twilit night and I'm pursuing my pr...       1
1          700.0  Agent Titiana has a target...I pose as a waitr...       1
2          100.0  <p>Tied to the chair with the hood off his hea...       1
3          900.0  <p>I'm your wife and I'm all dressed up, on th...       1
4          900.0  <p>We're in detention together, me the slutty ...       1