In [1]:
import pandas as pd

In [2]:
df_pos_part1 = pd.read_csv('../datasets/bw/BadWordsService_ml_yes_24.csv')
df_neg_part1 =  pd.read_csv('../datasets/bw/BadWordsService_ml_no_24.csv')

In [3]:
# df_pos_part2 = pd.read_csv('../datasets/BadWordsService_ml_has_7days_part2.csv')
# df_neg_part2 =  pd.read_csv('../datasets/BadWordsService_ml_has_no_7days_part2.csv')

In [5]:
df_pos_part1.shape, df_neg_part1.shape #, df_pos_part2.shape, (df_pos_part1.shape[0] + df_pos_part2.shape[0])

((5170, 3), (38114, 3))

In [6]:
print(df_pos_part1.shape, df_neg_part1.shape)
# (df_pos_part1.shape[0] + df_pos_part2.shape[0] + df_neg_part1.shape[0] + df_neg_part2.shape[0] - 525)

(5170, 3) (38114, 3)

In [10]:
df_pos_part1.head()

,@timestamp,ctxt_.time_spent,ctxt_.text
0,"Jun 2, 2023 @ 08:05:09.628",0.4,"<p><span style=""font-weight: 400;"">Come here, ..."
1,"Jun 2, 2023 @ 08:05:09.406",0.1,df-dommeBig_Foot2punishherpatientinastraitjack...
2,"Jun 2, 2023 @ 08:05:09.393",0.1,Domme Amber Punish Slave In A Straitjacket - P...
3,"Jun 2, 2023 @ 08:05:09.323",0.1,"BLACKMAIL FANTASY, SMALL PENIS HUMILIATION, SM..."
4,"Jun 2, 2023 @ 08:05:09.269",0.1,blackmail spe mov.mov

In [11]:
df_neg_part1.head()

,@timestamp,ctxt_.time_spent,ctxt_.text
0,"Jun 2, 2023 @ 08:05:09.628",0.4,"<p><span style=""font-weight: 400;"">Come here, ..."
1,"Jun 2, 2023 @ 08:05:09.406",0.1,df-dommeBig_Foot2punishherpatientinastraitjack...
2,"Jun 2, 2023 @ 08:05:09.393",0.1,Domme Amber Punish Slave In A Straitjacket - P...
3,"Jun 2, 2023 @ 08:05:09.323",0.1,"BLACKMAIL FANTASY, SMALL PENIS HUMILIATION, SM..."
4,"Jun 2, 2023 @ 08:05:09.269",0.1,blackmail spe mov.mov

In [12]:
df_pos_part1.drop('@timestamp', axis=1, inplace=True)
df_neg_part1.drop('@timestamp', axis=1, inplace=True)
# df_pos_part2.drop('@timestamp', axis=1, inplace=True)
# df_neg_part2.drop('@timestamp', axis=1, inplace=True)
df_pos_part1['ctxt_.time_spent'] = df_pos_part1['ctxt_.time_spent'] * 1000 # convert seconds to milliseconds
df_neg_part1['ctxt_.time_spent'] = df_neg_part1['ctxt_.time_spent'] * 1000 # convert seconds to milliseconds
# df_pos_part2['ctxt_.time_spent'] = df_pos_part2['ctxt_.time_spent'] * 1000 # convert seconds to milliseconds
# df_pos_part2['ctxt_.time_spent'] = df_pos_part2['ctxt_.time_spent'] * 1000 # convert seconds to milliseconds

In [13]:
df_pos_part1.rename(columns={"ctxt_.text": "raw_text", "ctxt_.time_spent": "time_spent_ms"}, inplace=True)
df_neg_part1.rename(columns={"ctxt_.text": "raw_text", "ctxt_.time_spent": "time_spent_ms"}, inplace=True)
# df_pos_part2.rename(columns={"ctxt_.text": "raw_text", "ctxt_.time_spent": "time_spent_ms"}, inplace=True)
# df_neg_part2.rename(columns={"ctxt_.text": "raw_text", "ctxt_.time_spent": "time_spent_ms"}, inplace=True)

In [14]:
df_pos_part1['labels'] = 1
df_neg_part1['labels'] = 0
# df_pos_part2['labels'] = 1
# df_neg_part2['labels'] = 0

In [16]:
nan_values_neg_part1 = df_neg_part1[df_neg_part1.isna().any(axis=1)]
print(len(nan_values_neg_part1))

# nan_values_neg_part2 = df_neg_part2[df_neg_part2.isna().any(axis=1)]
# print(len(nan_values_neg_part1))

785

In [17]:
df_neg_part1.dropna(inplace=True)
df_neg_part1.head()

   time_spent_ms                                           raw_text  labels
0          400.0  <p><span style="font-weight: 400;">Come here, ...       0
1          100.0  df-dommeBig_Foot2punishherpatientinastraitjack...       0
2          100.0  Domme Amber Punish Slave In A Straitjacket - P...       0
3          100.0  BLACKMAIL FANTASY, SMALL PENIS HUMILIATION, SM...       0
4          100.0                              blackmail spe mov.mov       0

In [18]:
# df_neg_part2.dropna(inplace=True)
# df_neg_part2.head()

In [19]:
from sklearn.utils import shuffle
RANDOM_STATE = 42

df = pd.concat([df_pos_part1, df_neg_part1], ignore_index=True) #, df_pos_part2, df_neg_part2], ignore_index=True)
df = shuffle(df, random_state=RANDOM_STATE).reset_index(drop=True)

df.shape

(42499, 3)

In [20]:
df.head()

   time_spent_ms                                           raw_text  labels
0          100.0                              Str8Guy2MenVib_DU.wmv       0
1          300.0  <p>Stephen Steele is 30 years old, handsome, m...       0
2         3600.0  start\tend\ttext\n60000\t89000\tAh?\n89000\t90...       0
3          200.0  Rich has 26 year old Rex tied to the rack for ...       0
4            0.0  OLDER MAN / YOUNGER MAN, GAY BLOWJOBS     OLDE...       0

In [ ]:
df.to_csv('../datasets/last_train_data.csv', index=False)

In [21]:
df_old = pd.read_csv('../datasets/last_train_data.csv')
df_old.head()

   time_spent_ms                                           raw_text  labels
0          100.0  ASIAN GODDESS, ASIAN PRINCESS, BOOT DOMINATION...       0
1            0.1  HAND EXPRESSING, FEMALE DOMINATION, HAND FETIS...       0
2          100.0                 Indomitable! 3 (starring Ziva Fey)       0
3            0.1  Karol Arrives home and meet's Thatty on the so...       0
4       100000.0  The best hooker at the Venusberlin DAY 1 in ne...       1

In [23]:
from sklearn.utils import shuffle
RANDOM_STATE = 42

df_new = pd.concat([df_old, df], ignore_index=True) #, df_pos_part2, df_neg_part2], ignore_index=True)
df_new = shuffle(df_new, random_state=RANDOM_STATE).reset_index(drop=True)

df_new.head()

   time_spent_ms                                           raw_text  labels
0          100.0  BIG LOADS, BRUNETTE, BIG DICKS, CUMSHOTS, PORN...       0
1          100.0                       Crushed By Asian Ass MP4.mp4       0
2          100.0  Karol Arrives home and meet's Thatty on the so...       0
3          200.0  Karol Arrives home and meet's Thatty on the so...       0
4          100.0                            Robbers Revenge WMV.wmv       0

In [24]:
df_new.to_csv('../datasets/current_train_data.csv', index=False)

In [ ]:
df